.social-login-modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.social-login-modal__content {
  background-color: white;
  padding: 40px 50px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  width: 350px;
}

.social-login-modal__title {
  font-size: 1.8em;
  font-weight: 900;
  margin-bottom: 25px;
}

.social-login-modal__naver-btn {
  padding: 12px 20px;
  font-size: 1.1em;
  font-weight: bold;
  background-color: #1EC800;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 15px;
}

.social-login-modal__close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  color: #333;
} 